[Desktop Entry]
Name=System Monitor
Comment=Monitor system activities
Icon=utilities-system-monitor
Exec=alacritty --class=localhost.system-monitor --title="System Monitor" -e btm
Terminal=false
Type=Application
Categories=Utility;GTK;
NoDisplay=true
