/* adapted from https://github.com/arkboix/sway */


@define-color rosewater      #f4dbd6;
@define-color flamingo       #f0c6c6;
@define-color pink           #f5bde6;
@define-color mauve          #c6a0f6;
@define-color red            #ed8796;
@define-color bright-red     #ec7486;
@define-color maroon         #ee99a0;
@define-color peach          #f5a97f;
@define-color yellow         #eed49f;
@define-color bright-yellow  #e1c682;
@define-color green          #a6da95;
@define-color bright-green   #8ccf7f;
@define-color teal           #8bd5ca;
@define-color sky            #91d7e3;
@define-color sapphire       #7dc4e4;
@define-color blue           #8aadf4;
@define-color bright-blue    #78a1f6;
@define-color lavender       #b7bdf8;
@define-color text           #cad3f5;
@define-color subtext1       #b8c0e0;
@define-color subtext0       #a5adcb;
@define-color overlay2       #939ab7;
@define-color overlay1       #8087a2;
@define-color overlay0       #6e738d;
@define-color surface2       #5b6078;
@define-color surface1       #494d64;
@define-color surface0       #363a4f;
@define-color base           #24273a;
@define-color mantle         #1e2030;
@define-color crust          #181926;
@define-color black          #494d64;
@define-color bright-black   #5b6078;
@define-color magenta        #f5bde6;
@define-color bright-magenta #f2a9dd;
@define-color cyan           #8bd5ca;
@define-color bright-cyan    #63cbc0;
@define-color white          #a5adcb;
@define-color bright-white   #b8c0e0;

/* Module-specific colors */
@define-color workspaces-color @text;
@define-color workspaces-focused-bg @green;
@define-color workspaces-focused-fg @cyan;
@define-color workspaces-urgent-bg @red;
@define-color workspaces-urgent-fg @black;

/* Text and border colors for modules */
@define-color clock-color @white;
@define-color custom-github-color @white;
@define-color memory-color @lavender;
@define-color cpu-color @blue;
@define-color bluetooth-color @sapphire;
@define-color network-color @sky;
@define-color pulseaudio-color @teal;
@define-color battery-color @mauve;
@define-color idle-inhibitor-color @pink;
@define-color custom-fcitx5-color @flamingo;
@define-color custom-dropbox-color @rosewater;
@define-color power-menu-color @white;

@define-color module-warning-color @yellow;
@define-color module-critical-color @red;

* {
    /* Base styling for all modules */
    border: none;
    border-radius: 0;
    font-family: CaskaydiaMono Nerd Font Propo;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: @base;
    color: @text;
}

box.horizontal.modules-right .module {
    padding: 0 10px;
    margin: 0 2px;
    border-bottom: 2px solid transparent;
    background-color: transparent;
}

#cpu-warning, #memory.warning, #network.disconnected,
#battery.warning:not(.charging) {
  color: @module-warning-color;
  border-bottom-color: @module-warning-color;
}

#cpu.critical, #memory.critical, #pulseaudio.muted,
#pulseaudio.muted, #battery.critical:not(.charging),
#custom-dropbox.down {
    color: @module-critical-color;
    border-bottom-color: @module-critical-color;
}

/* Workspaces styling */
#workspaces button {
    padding: 0 10px;
    background-color: transparent;
    color: @workspaces-color;
    margin: 0;
}

#workspaces button:hover {
    background: @white;
    box-shadow: inherit;
}

#workspaces button.active {
    box-shadow: inset 0 -2px @workspaces-focused-fg;
    color: @workspaces-focused-fg;
    font-weight: 900;
}

#workspaces button.urgent {
    background-color: @workspaces-urgent-bg;
    color: @workspaces-urgent-fg;
}

/* Module-specific styling */
#clock {
    color: @clock-color;
    font-weight: bold;
}

#cpu {
    color: @cpu-color;
    border-bottom-color: @cpu-color;
    min-width: 4em;
}

#memory {
    color: @memory-color;
    border-bottom-color: @memory-color;
    min-width: 4em;
}

#bluetooth {
    color: @bluetooth-color;
    border-bottom-color: @bluetooth-color;
}

#battery {
    color: @battery-color;
    border-bottom-color: @battery-color;
}

#network {
    color: @network-color;
    border-bottom-color: @network-color;
}

#pulseaudio {
    color: @pulseaudio-color;
    border-bottom-color: @pulseaudio-color;
    min-width: 2em;
}

#idle_inhibitor {
    color: @idle-inhibitor-color;
    border-bottom-color: @idle-inhibitor-color;
}

#custom-power-menu {
    color: @power-menu-color;
    border-bottom-color: @power-menu-color;
}

#custom-github {
    color: @custom-github-color;
    border-bottom-color: @custom-github-color;
}

#custom-fcitx5 {
    color: @custom-fcitx5-color;
    border-bottom-color: @custom-fcitx5-color;
    min-width: 1.3em;
}

#custom-dropbox {
    color: @custom-dropbox-color;
    border-bottom-color: @custom-dropbox-color;
}

#tray {
    padding: 0 10px;
    margin: 0 2px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: @red;
    border-bottom-color: @red;
}
